{% extends "base.html" %}
{% block content %}
<style>
<link href="{{ url_for('static', filename='css/nv.d3.css') }}" rel="stylesheet">
</style>

<body>
<h1>
{{ query_instance.dataset.description }}
</h1>
<h2>Subjects (count)</h2>
Main subjects published by target country; numbers indicate number of papers flagged with that subject.  Papers can have multiple subjects.
<div id='chart_subjects'></div>
<h2>Universities (count)</h2>
Top universities, by number of papers published in dataset
<div id='chart_universities'></div>
<h2>Countries (count)</h2>
Countries involved in collaborations.  For datasets centered on a country, the first entry is probably the target country and indicates the number of papers in the dataset.
<div id='chart_countries'></div>

<script type="text/javascript" src="{{ url_for('static', filename='javascript/d3.js' ) }}" charset="utf-8"></script>
<script src="{{ url_for('static', filename='javascript/nv.d3.js') }}" charset="utf-8"></script>
<script src="{{ url_for('static', filename='javascript/d3yak.js') }}" charset="utf-8"></script>
<script src="{{ url_for('static', filename='javascript/yak-bar-chart.js') }}" charset="utf-8"></script>
<script>

var data = [ { "label" : "Apples", "value" : 8 },
	     { "label" : "Pears", "value" : 6 },
	     { "label" : "Oranges", "value" : 3 } ];


var makeSeries = function(name, color, data) {
    return [ { "key" : name, "color" : color, "values" : data } ];
}

var dataSeries = makeSeries( "fruit", "#d67777", data );

var limit = 3;
var limitedData = function( d, l ) {
    return d.map( function(d) { return { "key" : d.key, "color" : d.color, "values" : d.values.slice( 0, l ) } } );
}

var makeExpandableBarChart = function( selector, series_name, data, width, height ) {

    var series = makeSeries( series_name, "#d67777", data );
    var limit = Math.min( 7, data.length );

    var chartArea = d3.select( selector ) 
	.append("svg");

    var chart = function() {
	var chart2 = nv.models.multiBarHorizontalChart()
	    .x( function(d,i) { return d.label } )
	    .y( function(d) { return d.value } )
	    .showValues( true )
	    .tooltips( true )
	    .showControls( false )
	    .valueFormat( d3.format('d') )
	    .margin( {top:20, left:175, right:20, bottom:20} );

	chart2.yAxis
            .tickFormat(d3.format(',i'));


	chartArea.attr("width", width )
	    .attr("height", height )
	    .datum(limitedData( series, limit ))
	    .call( chart2 );

	nv.utils.windowResize(chart2.update);

	return chart2
    }

    nv.addGraph( chart )

    // now add the more/less buttons
    var buttonbar = d3.select( selector ) 
	.append("p");

    buttonbar.append( "input" )
	.attr("id","MOAR")
	.attr("type","button")
	.attr("value","MOAR")
	.on("click",function() { 
	    limit = Math.min( limit+1, series[0].values.length );
	    chartArea.datum( limitedData( series, limit ) )
		.call(chart);
	});

    buttonbar.append( "input" )
	.attr("id","LESS")
	.attr("type","button")
	.attr("value","LESS")
	.on("click",function() { 
	    limit = Math.max( limit-1, 0 );
	    chartArea.datum( limitedData( series, limit ) )
		.call( chart );
	});

};

d3.json("{{ url_for('retrieve_query_result', **{'id' : query_instance.id} ) }}", function(d) {
makeExpandableBarChart( "#chart_subjects", "Subjects", d.subjects, 640, 200 )
makeExpandableBarChart( "#chart_universities", "Universities", d.universities, 640, 200 )
makeExpandableBarChart( "#chart_countries", "Countries", d.countries, 640, 200 )
});

</script>

{% endblock %}


