{% extends "base.html" %}
{% block content %}
<style>

<link href="{{ url_for('bower.static', filename='nvd3/build/nv.d3.css') }}" rel="stylesheet">

</style>

<body>
    <h1>
{{ query_instance.dataset.description }}
</h1>
<h2>Subjects (count)</h2>
Main subjects published by target country; numbers indicate number of papers flagged with that subject.  Papers can have multiple subjects.
<div id='chart_subjects'></div>
<h2>Universities (count)</h2>
Top universities, by number of papers published in dataset
<div id='chart_universities'></div>
<h2>Countries (count)</h2>
Countries involved in collaborations.  For datasets centered on a country, the first entry is probably the target country and indicates the number of papers in the dataset.
<div id='chart_countries'></div>
<h3>Country Collaborations</h3>
Chord chart showing number of collaborations between countries.  Each paper is counted once; in other words, a large team in country A collaborating with a single author in country B will only have a value of 1.
<div id='chart_country_collaborations'></div>

<script src="{{ url_for('static', filename='charts.js') }}"></script>
<script>

"use strict";
/* global nv, d3, console */
/*
var data = [ { "label": "Apples", "value": 8 },
	{ "label": "Pears", "value": 6 },
	{ "label": "Oranges", "value": 3 } ];
*/


var makeSeries = function(name, color, data) {
    return [ { "key": name, "color": color, "values": data } ];
};

// var dataSeries = makeSeries( "fruit", "#d67777", data );

// var limit = 3;
var limitedData = function( d, l ) {
    return d.map( function(d2) {
	return { "key": d2.key, "color": d2.color, "values": d2.values.slice( 0, l ) };
    } );
};


d3.json("{{ url_for('retrieve_query_result', **{'id' : query_instance.id} ) }}", function(d) {
    makeExpandableBarChart( "#chart_subjects", "Subjects", d.Subjects, 800, 600 );
    makeExpandableBarChart( "#chart_universities", "Universities", d.universities, 800, 600 );
    makeExpandableBarChart( "#chart_countries", "Countries", d.countries, 800, 600 );
    makeChordChart( "#chart_country_collaborations",
    d.country_collaboration.matrix,
    d.country_collaboration.key );

});

</script>

{% endblock %}


