{% extends "base.html" %}
{% block content %}
<style>
<link href="{{ url_for('bower.static', filename='nvd3/build/nv.d3.css') }}" rel="stylesheet">

#circle circle {
    fill: red;
    pointer-events: all;
}

path.chord {
  stroke: #000;
  stroke-width: .25px;
}

#circle:hover path.fade {
    display: none;
}

</style>

<body>
<h1>
{{ query_instance.dataset.description }}
</h1>
<h2>Journals (count)</h2>
Top journals for publication, by number of papers published in journals.
<div id='chart_journals'></div>
<h2>Authors</h2>
Top authors by volume of publications.
<div id='chart_authors'></div>
<h2>Universities</h2>
Top universities, by number of publications.  A blank line indicates that the name of the university was not listed in the author affiliation.
<div id='chart_universities'></div>
<h2>Countries</h2>
Countries, by volume of publications in this subject area.
<div id='chart_countries'></div>

<script src="{{ url_for('static', filename='charts.js') }}"></script>
<script type="text/javascript"">
    "use strict";

    /* global d3, makeExpandableBarChart, makeChordChart */



    d3.json("{{ url_for('retrieve_query_result', **{'id' : query_instance.id} ) }}", function(d) {
    makeExpandableBarChart( "#chart_journals", "Journals", d.journals, 640, 200 );
    makeExpandableBarChart( "#chart_authors", "Authors", d.authors, 640, 200 );
    makeExpandableBarChart( "#chart_universities", "Universities", d.universities, 640, 200 );
    makeExpandableBarChart( "#chart_countries", "Countries", d.countries, 640, 200 );

    makeChordChart( "#chart_country_collaborations",
    d.country_collaboration.matrix,
    d.country_collaboration.key );
    });


</script>

{% endblock %}


